<div id="<%= dom_id product %>">
  <p>
    <strong>Nome:</strong>
    <%= product.name %>
  </p>

    <p>
    <strong>Imagem:</strong>
    <%= image_tag product.image, height: 100 %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Situação</strong>
    <%= product.publish %>
  </p>
</div>
